/* HERO SECTION (ABOUT PAGE) */
.hero-about {
  background: url('download (1).jpeg') no-repeat center center/cover;
  height: 60vh;
  color: rgb(129, 112, 207);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-about h1 {
  font-size: 3em;
  letter-spacing: 2px;
}
.hero-about p {
  font-size: 1.2em;
  margin-top: 10px;
}

/* ABOUT STORY */
.about-story {
  padding: 60px;
  background: url("")no-repeat center center/cover;
}
.about-story .container {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.about-story img {
  width: 350px;
  border-radius: 15px;
}
.about-story .text {
  max-width: 600px;
}
.about-story h2 {
  margin-bottom: 15px;
  color: #e91e63;
}

/* VALUES SECTION */
.values {
  background:url("pic\ 2.jpg")no-repeat center center/cover;
  padding: 60px;
  text-align: center;
}
.values h2 {
  margin-bottom: 30px;
  font-size: 2em;
}
.value-boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.value {
  width: 280px;
  background:url("")no-repeat center center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.value h3 {
  color: #e91e63;
  margin-bottom: 10px;
}

/* TEAM SECTION */
.team {
  padding: 60px;
  background:url("")no-repeat center center;
  text-align: center;
}
.team-members {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.member {
  width: 250px;
}
.member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.member h3 {
  color: #e91e63;
  
  margin-bottom: 5px;
}
